torch==2.13.0              # all chapters
torchvision==0.28.0        # all chapters
jupyterlab==4.6.2          # all
tiktoken==0.13.0           # ch02; ch04; ch05
matplotlib==3.11.1         # ch04; ch06; ch07
tensorflow==2.21.0         # ch05; ch06; ch07
tqdm==4.70.0               # ch05; ch07
numpy==2.5.1               # dependency of several other libraries like torch and pandas
pandas==3.0.5              # ch06
psutil==7.2.2              # ch07; already installed automatically as dependency of torch
